nav{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            list-style-type: none;
            
}

header{
  background-color: rgb(143, 101, 101);
}
footer{
  background-color: rgb(3, 3, 46);
}

.back{
   background-color: azure;
}
